<div class="login" style="overflow-y: scroll;">
  <h1>To-Do List App</h1>

  <h2>Okoora</h2>

  <div aria-label="container">
    <div id="#img-container">
      <img src="assets/img/okoora-logo.png" alt="">
    </div>

    <div class="form-container">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput name="username" formControlName="username" required>
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-error *ngIf="loginForm.controls['username'].invalid">You must enter your username</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput name="email" formControlName="email" required>
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-error *ngIf="loginForm.controls['email'].invalid">You must enter your email</mat-error>
        </mat-form-field>

        <button
        mat-raised-button
        color="primary"
        *ngIf="!signingIn"
        (click)="onSubmit(loginForm.value)">
          <mat-icon>exit_to_app</mat-icon>
          <span class="login-text">Login</span>
        </button>

        <mat-progress-spinner
          *ngIf="signingIn"
          [mode]="'indeterminate'"
          [diameter]="50">
        </mat-progress-spinner>
      </form>
    </div>
  </div>
</div>
